[Unit]
Description=carbleurator RC car control daemon
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/usr/bin/carbleurator

[Install]
WantedBy=basic.target
